.loginForm{
  border:1px solid black;
  padding: 20px;
  width: 30%;
  text-align: center;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}
input{
  display: block;
  width:98.5%;
  margin-bottom:20px;
  height:40px;
  font-size: 16px;
}
h1{
  text-align: center;
}
button{
  border:0;
  background-color: rgb(57, 172, 218);
  padding:15px;
  border-radius: 10px;
  width:50%;
  color:white;
  font-weight: bold;
}
input::placeholder{
  font-size: 16px;
}
